#main-contain-1 {
  background-image: url(image5a.jpg);
  color: rgb(8, 44, 32);
  align-items: center;
}
.navigation-bar {
  align-items: first baseline;
}

.btn-1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(236, 72, 72);
  border-color: rgb(37, 124, 201);
}

.left-item {
  background-image: url(/images/image5a.jpg);
  width: 33.33%;
  float: left;
  height: 100px;
}

.middle-item {
  background-image: url(/images/image5a.jpg);

  margin: auto;
  height: 100px;
  justify-items: center;
  border: 0%;
  margin: 0%;
}
.middle-item img {
  height: 65px;
  width: 100px;
  object-fit: cover;
  position: absolute;
  left: 45%;
}

.right-item {
  background-image: url(/images/image5a.jpg);
  width: 33.33%;
  height: 0%;
  float: right;
  color: #bf9341;
  text-align: center;
  font-family: sans-serif;
}

.body1 {
  height: 700px;
  background: url(/images/image5a.jpg) floralwhite;
  color: rgb(210, 217, 223);
  font-style: inherit;
  font-family: cursive;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.body1 img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}
.container-2 {
  background-color: #232323;
  height: 280px;
  width: 100%;
  font-family: fantasy;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: #bf9341;
}

.btn-2 {
  height: 33.1px;
  width: 150.13px;
  color: #ffffff;
  font: 15px "DM Sans", sans-serif;
  background-color: #b84358 !important;
  border-color: #b84358;
  margin: 9.6px;
  border-radius: 10%;
  cursor: pointer;
}

.container-3 h3 {
  height: 299.09px;
  width: 360px;
  font-size: 55px;
  font-family: cursive;
  color: #192732;
}

.inner-container-3 {
  background-color: #ded7cd;
  height: 515px;
  width: 400px;
  float: left;
  padding: 180px 10px 20px 8.07px;
  font: 50px;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}
.inner-container-3 p {
  width: 50%;
  float: right;
}

.minor-container {
  background-color: #ded7cd;
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  height: 180vh;
}

.item-1 {
  background-color: #ded7cd;
  color: #192732;
  font-family: cursive;
  grid-area: 1 / 1 / 1 / 4;
  font-size: large;
}

.item-2 {
  background-color: #ded7cd;
  color: #192732;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
  grid-area: 2 / 2 / 7 / 4;
}

.item-3 {
  background-color: #ded7cd;
  grid-area: 1 / 9 / 5 / 13;
}
.item-3 img {
  height: 200px;
  width: 550px;
  object-fit: contain;
}

.item-4 {
  background-color: #ded7cd;
  grid-area: 4 / 5 / 10 / 13;
}
.item-4 img {
  height: 500px;
  width: 1000px;
  object-fit: contain;
}
.item-5 {
  background-color: #ded7cd;
  grid-area: 6 / 1 / 8 / 3;
}

.btn-5 {
  background-color: #b84358;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 180px;
  height: 40px;
  font-size: large;
  border-color: none;
  border-radius: 22px;
  cursor: pointer;
}

.item-6 {
  grid-area: 10 / 2 / 14 / 8;
}

.item-7 {
  background-color: #ded7cd;
  grid-area: 10 / 10 / 12 / 14;
  color: #192732;
  font-family: cursive;
  font-size: 57px;
  font-weight: bolder;
}

.item-8 {
  background-color: #ded7cd;
  color: #192732;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  grid-area: 12 / 11 / 15 / 14;
  font-size: 21px;
}

.item-9 {
  background-color: #ded7cd;
  grid-area: 14 / 9 / 15 / 11;
}

.minority {
  background-color: #232323;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(10, 100px);
}

.subject-1 {
  background-color: #232323;
  grid-area: 3 / 2 / 5 / 9;
  color: #bf9341;
  font-family: cursive;
  font-size: 67px;
  font-weight: bolder;
}

.subject-2 {
  background-color: #232323;
  grid-area: 3 / 10 / 6 / 12;
  color: #bf9341;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.another {
  background-color: #ded7cd;
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  height: 165vh;
}

.another-1 {
  background-color: #ded7cd;
  grid-area: 2 / 2 / 5 /6;
}

.another-2 {
  background-color: #ded7cd;
  grid-area: 1 / 8 / 3 / 11;
  font-family: cursive;
  font-size: 45px;
  font-weight: bolder;
  color: #192732;
}

.another-3 {
  background-color: #ded7cd;
  grid-area: 3 / 8 / 6 / 11;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: #192732;
}

.another-4 {
  background-color: #ded7cd;
  grid-area: 6 / 8 / 7 / 10;
}
.btn-5 {
  background-color: #ded7cd;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 180px;
  height: 40px;
  font-size: large;
  border-color: none;
  border-radius: 22px;
  cursor: pointer;
}

.another-5 {
  background-color: #ded7cd;
  grid-area: 9 / 1 / 11 / 5;
  font-family: cursive;
  font-size: 50px;
  font-weight: bolder;
  color: #192732;
}

.another-6 {
  background-color: #ded7cd;
  grid-area: 10 / 1 / 13 / 5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #192732;
}

.another-7 {
  background-color: #ded7cd;
  grid-area: 13 / 1 / 14 / 3;
}
.btn-5 {
  background-color: #b84358;
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 180px;
  height: 40px;
  font-size: large;
  border-color: none;
  border-radius: 22px;
  cursor: pointer;
}

.another-8 {
  background-color: #ded7cd;
  grid-area: 11 / 8 / 14 / 12;
}

.major-topic {
  background-color: #b84358;
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  height: 100vh;
}

.individual {
  background-color: #1a2229;
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
  height: 80vh;
  width: 100%;
}

.individual-1 {
  background-color: #1a2229;
  grid-area: 1 / 1 / 2 / 15;
  font-family: cursive;
  font-size: 65px;
  color: #bf9341;
  font-weight: bolder;
  text-align: center;
}
.individual-2 {
  background-color: #1a2229;
  grid-area: 2 / 1 / 7 / 15;
}

.individual-2 img {
  width: 102%;
}
.persona {
  background-color: #1a2229;
  height: 210vh;
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(20, 100px);
}

.persona-1 {
  background-color: #1a2229;
  grid-area: 3 / 2 / 6 / 14;
  font-family: sans-serif;
  font-size: 25px;
  color: #bf9341;
  font-weight: bolder;
}
.persona-2 {
  background-color: #1a2229;
  grid-area: 7 / 2 / 9 / 5;
}
.persona-3 {
  background-color: #1a2229;
  grid-area: 8 / 7 / 16 / 15;
}

.persona-4 {
  background-color: #1a2229;
  grid-area: 10 / 3 / 14 / 6;
}

.persona-2 img {
  height: 200px;
  width: 380px;
  object-fit: contain;
}

.persona-3 img {
  height: 1000px;
  width: 800px;
  object-fit: contain;
}

.persona-4 img {
  height: 500px;
  width: 300px;
  object-fit: contain;
}
